body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color:#ebeff1; 
}

section.badges {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section.badges h1.badges-heading {
    font-family: "Inter", sans-serif;
    color: #04a2fd;
}

section.badges section.rectangular-badges {
    display: flex;
    gap: 20px;
}

section.badges section.pill-badges {
    display: flex;
    gap: 20px;
}

div.default-badge {
    background-color: #cccccc;

    border: none;
    border-radius: 5px;
    padding: 5px 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    color: #000000;
    font-family: "Inter", sans-serif;
}

/* Rectangular badges */
div.gray-rectangle-badge {
    background-color: #F3F4F6;
    color: #1F2937;
}

div.red-rectangle-badge {
    background-color: #FEE2E2;
    color: #991B1B;
}

div.yellow-rectangle-badge {
    background-color: #FEF3C7;
    color: #92400E;
}

div.green-rectangle-badge {
    background-color: #D1FAE5;
    color: #065F46;
}

div.blue-rectangle-badge {
    background-color: #DBEAFE;
    color: #1E40AF;
}

div.indigo-rectangle-badge {
    background-color: #E0E7FF;
    color: #3730A3;
}

div.purple-rectangle-badge {
    background-color: #EDE9FE;
    color: #5B21B6;
}

div.pink-rectangle-badge {
    background-color: #FCE7F3;
    color: #9D174D;
}

/* Pill badges */
div.gray-pill-badge {
    background-color: #F3F4F6;
    color: #1F2937;
    border-radius: 20px;
}

div.red-pill-badge {
    background-color: #FEE2E2;
    color: #991B1B;
    border-radius: 20px;
}

div.yellow-pill-badge {
    background-color: #FEF3C7;
    color: #92400E;
    border-radius: 20px;
}

div.green-pill-badge {
    background-color: #D1FAE5;
    color: #065F46;
    border-radius: 20px;
}

div.blue-pill-badge {
    background-color: #DBEAFE;
    color: #1E40AF;
    border-radius: 20px;
}

div.indigo-pill-badge {
    background-color: #E0E7FF;
    color: #3730A3;
    border-radius: 20px;
}

div.purple-pill-badge {
    background-color: #EDE9FE;
    color: #5B21B6;
    border-radius: 20px;
}

div.pink-pill-badge {
    background-color: #FCE7F3;
    color: #9D174D;
    border-radius: 20px;
}

section.banners {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

section.banners div.banner {
    background-color: #cccccc;
    padding: 10px;
    margin: 0px auto 10px;
    border-radius: 5px;
    width: 100%;
}

section.banners h1.banners-heading {
    margin: 30px auto;
    font-family: "Inter", sans-serif;
    color: #04a2fd
}

section.banners div.banner div.icon-and-title {
    display: flex;
    gap: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

section.banners div.banner p {
    margin: 5px 0px 0px 25px ;
    font-family: "Inter", sans-serif;
} 

section.banners section.single-line {
    width: 39rem;
}

section.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

section.card-section h1 {
    font-family: "Inter", sans-serif;
    color: #04a2fd;
    font-weight: bold;
    text-align: center;
    margin: 40px auto 20px;
}

section.card-container {
    width: 400px;
    height: auto;
    background-color: #F9FAFB;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    margin: 40px auto 10px;
}

section.card-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 2, 1fr), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

section.card-container div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

section.card-container h1.card-title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: #111827
}

section.card-container .upload-icon {
    width: auto;
    height: auto;
    padding: 12px;
    border-radius: 10px;
    font-size: 1.5rem;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3F75FE;
    color: #FFFFFF;
    position: absolute;

    top: -45px;
}

section.card-container .upload-icon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 2, 1fr), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

section.card-container p.card-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #6B7280;
    margin: 0px auto 40px;
}


/* 
    - target the containers for all of them 
    - style the images and the text to fit 
    - style the images and text accordingly 
    - 
 */

/*
    container 
    image
    text
    header
    footer
    position all of them correctly
*/

/* Testimonials section */

/* styling for the heading */
section.testimonial-wrapper h1.heading {
    font-family: "Inter", sans-serif;
    color: #04a2fd;
    margin: 100px auto 0px;
}
/* styling for the testimonial wrapper */
section.testimonial-wrapper {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

/* containers for all the cards */
section.testimonial-section div.picture-desktop {
    background-color: #2545B8;
    width: 900px;
    height: 250px;
    
    display: flex;
    margin: auto;
    position: relative;
} 

section.testimonial-section div.picture-mobile {
    background-color: #2545B8;
    width: 250px;
    height: 400px;

    display: flex;
    flex-direction: column;
    margin: auto;
}

section.testimonial-section div.no-picture-desktop {
    background-color: #FFFFFF;
    width: 900px;
    height: 250px;
    
    display: flex;
    margin: auto;
    gap: 20px;
}

section.testimonial-section div.no-picture-mobile {
    background-color: #FFFFFF;
    width: 250px;
    height: 300px;

    display: flex;
    margin: auto;
}


/* Image styling for the two cards */

/* styling for the desktop testimonial card wrapper with picture */
section.testimonial-section div.picture-desktop-image-wrapper{ 
    width: 400px;
    height: 300px;
    margin: -25px 0px 0px 40px;
}

/* styling for the desktop testimonial card image with picture */
section.testimonial-section img.avatar-picture-desktop {
    object-fit: cover;
    object-position: 50% 90%;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

/* styling for the mobile testimonial card wrapper with picture */
section.testimonial-section div.picture-mobile-image-wrapper{ 
    width: 90%;
    height: 150px;
    margin: 0px auto;
    position: relative;
}

/* styling for the mobile testimonial card image with picture */
section.testimonial-section img.avatar-picture-mobile {
    object-fit: cover;
    object-position: 60% 35%;
    width: 100%;
    height: 100%;
    position: absolute;

    top: -50%;

    border-radius: 0.5rem;
}



/* Text styling for the testimonial cards */

/* styling for the desktop testimonial header */
section.testimonial-section div.quote-icon {
    color: #5c74ca;
    font-size: 1.5rem;
}

/* styling for the desktop testimonial text wrapper with picture */
section.testimonial-section div.picture-desktop-testimonial-text {
    margin: auto;
    padding: 0 1rem;
}

/* styling for the desktop testimonial paragraph text */
section.testimonial-section div.picture-desktop-testimonial-text  p.picture-desktop-testimonial-paragraph{ 
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

/* styling for the desktop testimonial footer wrapper */ 
section.testimonial-section div.picture-desktop-footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem; 
}

/* Styling for the desktop testimonial footer span */
section.testimonial-section div.picture-desktop-footer-section span {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    margin: 0px;
}

/* Styling for the desktop testimonial footer p */
section.testimonial-section div.picture-desktop-footer-section p {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0px;
}

/* Styling for the mobile testimonial footer span */
section.testimonial-section div.picture-mobile-footer-section span {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    margin: 0px;
}

/* Styling for the mobile testimonial footer p */
section.testimonial-section div.picture-mobile-footer-section p {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0px;
}

/* styling for the mobile testimonial text wrapper with picture */
section.testimonial-section div.picture-mobile-testimonial-text {
    margin: -2rem 0 0px;
    padding: 0 1rem;
}

/* styling for the mobile testimonial paragraph text */
section.testimonial-section div.picture-mobile-testimonial-text  p.picture-mobile-testimonial-paragraph{ 
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}


/* styling for the desktop testimonial header */
section.testimonial-section div.title-and-icon { 
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.25rem;
}

/* styling for the header section in the no picture testimonialas */
section.testimonial-section div.title-and-icon h1{ 
    font-family: "Inter", sans-serif;
    color: #1F2937;
    font-weight: 700;
    font-size: 1rem;
}

/* styling for the heading text in the no-picture testimonials*/
section.testimonial-section div.title-and-icon span{ 
    font-family: "Inter", sans-serif;
    color: #2E59F3
}

/* styling for the desktop testimonial text wrapper with no picture */
section.testimonial-section div.no-picture-desktop-testimonial-text {
    margin: 2rem 0;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

/* styling for the desktop testimonial paragraph text without picture*/
section.testimonial-section div.no-picture-desktop-testimonial-text  p.no-picture-desktop-testimonial-paragraph{ 
    color: #111827;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-align: center;
    width: 60%;
    margin: auto;
}


/* styling for the text wrapper for the desktop footer without picture */
section.testimonial-section div.no-picture-desktop-footer-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* styling for the mobile testimonial text wrapper with no picture */
section.testimonial-section div.no-picture-mobile-testimonial-text {
    margin: 2rem 0;
    padding: 0 1rem;
    gap: 0.5rem;
}


/* styling for the text wrapper for the desktop footer without picture */
section.testimonial-section div.no-picture-mobile-footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
}


/* styling for the slash icon for the desktop footer without picture */
section.testimonial-section div.no-picture-desktop-footer-section div.slash-icon {
    font-weight: 700;
    color: #2E59F3;
    font-size: 1rem;
    /* margin: 0px 5px 5px 0px; */
}

/* styling for the span text for the desktop footer without picture */
section.testimonial-section div.no-picture-desktop-footer-section span {
    font-family: "Inter", sans-serif;
    color: #111827;
    font-weight: 700;
    font-size: 0.75rem;
    margin: 0px;
    margin-right: 5px;
}

/* styling for the p text for the desktop footer without picture */
section.testimonial-section div.no-picture-desktop-footer-section p {
    font-family: "Inter", sans-serif;
    color: #6B7280;
    font-weight: 500;
    font-size: 0.75rem;
    margin: 0px;
    margin-left: 5px;
}

/* styling for the mobile testimonial paragraph text without picture*/
section.testimonial-section div.no-picture-mobile-testimonial-text  p.no-picture-mobile-testimonial-paragraph{ 
    color: #111827;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    width: 100%;
    margin: 10px auto 20px;
}


/* styling for the span text for the mobile footer without picture */
section.testimonial-section div.no-picture-mobile-footer-section span{
    font-family: "Inter", sans-serif;
    color: #111827;
    font-weight: 700;
    font-size: 0.75rem;
    margin: 0px;
}


/* styling for the p text for the mobile footer without picture */
section.testimonial-section div.no-picture-mobile-footer-section p{
    font-family: "Inter", sans-serif;
    color: #6B7280;
    font-weight: 500;
    font-size: 0.75rem;
    margin: 0px;
}


/* TOOLTIPS STYLING */

/* styling for the tooltip */
section.tooltip-section div.tooltip{
    background-color: #000000;
    width: 300px;
    height: 100px;
}

/* styling for the tooltips */
section.tooltips-container h1.heading {
    color:#04a2fd;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 50px auto;
}
/* styling for the black and white tool tips */
section.tooltips-wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
    justify-content: center;
}

/* styling for black tooltip */
section.tooltip div.black-tooltip {
    background-color: #262626;
    width: 400px;
    height: 100px;
    color: #C7C7C7;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 12px 10px;
    border-radius: 10px;
    margin: auto;
}

section.tooltip div.black-tooltip {
    display: flex;
}

section.tooltip div.black-archive {
    align-self: flex-start;
    font-size: 1.5rem;
    padding: 10px;
}

section.tooltip button.black-close {
    align-self: flex-start;
    border: none;
    background: none;
    color: #C7C7C7;
    font-size: 1.25rem;
}

section.tooltip div.tooltip-text {
    align-self: flex-start;
    margin: -10px 0px 0px 20px;
}

section.tooltip p.black-title{ 
    font-weight: 700;
}


/* styling for white tooltip */
section.tooltip div.white-tooltip {
    background-color: #ffffff;
    width: 400px;
    height: 100px;
    color: #6B7280;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 12px 10px;
    border-radius: 10px;
}

section.tooltip div.white-tooltip {
    display: flex;
}

section.tooltip div.white-archive {
    align-self: flex-start;
    font-size: 1.5rem;
    padding: 10px;
    color: #111827
}

section.tooltip button.white-close {
    align-self: flex-start;
    border: none;
    background: none;
    font-size: 1.25rem;
}

section.tooltip div.tooltip-text {
    align-self: flex-start;
    margin: -10px 0px 0px 20px;
}

section.tooltip p.white-title{ 
    font-weight: 700;
    color: #111827
}


section.tooltip p.white-para{ 
    color: #6B7280
}



/* styling for darkblue tooltip */
section.tooltip div.darkblue-tooltip {
    background-color: #1E40AF;
    width: 400px;
    height: 100px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 12px 10px;
    border-radius: 10px;
}

section.tooltip div.darkblue-tooltip {
    display: flex;
}

section.tooltip div.darkblue-archive {
    align-self: flex-start;
    font-size: 1.5rem;
    padding: 10px;
    color: #7EA6F2
}

section.tooltip button.darkblue-close {
    align-self: flex-start;
    border: none;
    background: none;
    font-size: 1.25rem;
    color: #D8D8D8;
}

section.tooltip div.tooltip-text {
    align-self: flex-start;
    margin: -10px 0px 0px 20px;
    color: #E8EDFF
}

section.tooltip p.darkblue-title{ 
    font-weight: 700;
    color: #FFFFFF;
}



/* styling for lightblue tooltip */
section.tooltip div.lightblue-tooltip {
    background-color: #E0E7FF;
    width: 400px;
    height: 100px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 12px 10px;
    border-radius: 10px;
}

section.tooltip div.lightblue-tooltip {
    display: flex;
}

section.tooltip div.lightblue-archive {
    align-self: flex-start;
    font-size: 1.5rem;
    padding: 10px;
    color: #1C51B9
}

section.tooltip button.lightblue-close {
    align-self: flex-start;
    border: none;
    background: none;
    font-size: 1.25rem;
    color: #1C51B9;
}

section.tooltip div.tooltip-text {
    align-self: flex-start;
    margin: -10px 0px 0px 20px;
}

section.tooltip p.lightblue-title{ 
    font-weight: 700;
    color: #1E40AF;
}

section.tooltip p.lightblue-para{ 
    color: #1C51B9;
}


/* styling for lightblue tooltip */
section.tooltip div.lightblue-tooltip {
    background-color: #E0E7FF;
    width: 400px;
    height: 100px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 12px 10px;
    border-radius: 10px;
}

section.tooltip div.lightblue-tooltip {
    display: flex;
}

section.tooltip div.lightblue-archive {
    align-self: flex-start;
    font-size: 1.5rem;
    padding: 10px;
    color: #1C51B9
}

section.tooltip button.lightblue-close {
    align-self: flex-start;
    border: none;
    background: none;
    font-size: 1.25rem;
    color: #1C51B9;
}

section.tooltip div.tooltip-text {
    align-self: flex-start;
    margin: -10px 0px 0px 20px;
}

section.tooltip p.lightblue-title{ 
    font-weight: 700;
    color: #1E40AF;
}

section.tooltip p.lightblue-para{ 
    color: #1C51B9;
}


/* styling for darkgreen tooltip */
section.tooltip div.darkpurple-tooltip {
    background-color: #A9229B;
    width: 400px;
    height: 100px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 12px 10px;
    border-radius: 10px;
}

section.tooltip div.darkpurple-tooltip {
    display: flex;
}

section.tooltip div.darkpurple-archive {
    align-self: flex-start;
    font-size: 1.5rem;
    padding: 10px;
    color: #F462E6
}

section.tooltip button.darkpurple-close {
    align-self: flex-start;
    border: none;
    background: none;
    font-size: 1.25rem;
    color: #D8D8D8;
}

section.tooltip div.tooltip-text {
    align-self: flex-start;
    margin: -10px 0px 0px 20px;
}

section.tooltip p.darkpurple-title{ 
    font-weight: 700;
    color: #FFFFFF;
}

section.tooltip p.darkpurple-para{ 
    color: #FFE9FD;
}


/* styling for lightpurple tooltip */
section.tooltip div.lightpurple-tooltip {
    background-color: #FFF3FC;
    width: 400px;
    height: 100px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 12px 10px;
    border-radius: 10px;
}

section.tooltip div.lightpurple-tooltip {
    display: flex;
}

section.tooltip div.lightpurple-archive {
    align-self: flex-start;
    font-size: 1.5rem;
    padding: 10px;
    color: #C7369E;
}

section.tooltip button.lightpurple-close {
    align-self: flex-start;
    border: none;
    background: none;
    font-size: 1.25rem;
    color: #C7369E;
}

section.tooltip div.tooltip-text {
    align-self: flex-start;
    margin: -10px 0px 0px 20px;
}

section.tooltip p.lightpurple-title{ 
    font-weight: 700;
    color: #A9229B;
}

section.tooltip p.lightpurple-para{ 
    color: #C7369E;
}


/* styling for darkgreen tooltip */
section.tooltip div.darkgreen-tooltip {
    background-color: #47AA5D;
    width: 400px;
    height: 100px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 12px 10px;
    border-radius: 10px;
}

section.tooltip div.darkgreen-tooltip {
    display: flex;
}

section.tooltip div.darkgreen-archive {
    align-self: flex-start;
    font-size: 1.5rem;
    padding: 10px;
    color: #C1FFCF;
}

section.tooltip button.darkgreen-close {
    align-self: flex-start;
    border: none;
    background: none;
    font-size: 1.25rem;
    color: #D8D8D8;
}

section.tooltip div.tooltip-text {
    align-self: flex-start;
    margin: -10px 0px 0px 20px;
}

section.tooltip p.darkgreen-title{ 
    font-weight: 700;
    color: #FFFFFF;
}

section.tooltip p.darkgreen-para{ 
    color: #E3FFE9;
}


/* styling for lightgreen tooltip */
section.tooltip div.lightgreen-tooltip {
    background-color: #E7FFF3;
    width: 400px;
    height: 100px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 12px 10px;
    border-radius: 10px;
}

section.tooltip div.lightgreen-tooltip {
    display: flex;
}

section.tooltip div.lightgreen-archive {
    align-self: flex-start;
    font-size: 1.5rem;
    padding: 10px;
    color: #41A557;
}

section.tooltip button.lightgreen-close {
    align-self: flex-start;
    border: none;
    background: none;
    font-size: 1.25rem;
    color: #3C8C4E;
}

section.tooltip div.tooltip-text {
    align-self: flex-start;
    margin: -10px 0px 0px 20px;
}

section.tooltip p.lightgreen-title{ 
    font-weight: 700;
    color: #137A2A;
}

section.tooltip p.lightgreen-para{ 
    color: #3C8C4E;
}

/* Styling for the toast components */
section.toast-container h1 {
    font-family: "Inter", sans-serif;
    color: #04a2fd;
    text-align: center;
    margin: 100px auto 50px;
}

section.toast {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    margin: 0px auto 100px;
    gap: 20px;
}


section.toast div.toast {
    width: 400px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
}

section.toast div.icon {
    padding: 15px;
    font-size: 1.5rem;
}

section.toast p.title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

section.toast p.paragraph {
    font-family: "Inter", sans-serif;
    margin-top: -10px;
}
































































